<div class="contact-line">
    <a href="mailto:christophe&#46;delacourt&#46;perso&#64;gmail&#46;com" class="email-text">
        christophe&#46;delacourt&#46;perso&#64;gmail&#46;com
    </a>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/christophe-delacourt-6619598b/" target="_blank" rel="noopener noreferrer" title="LinkedIn">
            <img src="/images/logos/linkedin.svg" alt="LinkedIn">
        </a>
        <a href="https://github.com/doomtr666/" target="_blank" rel="noopener noreferrer" title="GitHub">
            <img src="/images/logos/github.svg" alt="GitHub">
        </a>
        <a href="https://doomtr666.github.io/devlog" target="_blank" rel="noopener noreferrer" title="Blog">
            <img src="/images/logos/globe.svg" alt="Blog">
        </a>
        <a href="https://www.researchgate.net/profile/Christophe-Delacourt-3" target="_blank" rel="noopener noreferrer" title="ResearchGate">
            <img src="/images/logos/researchgate.svg" alt="ResearchGate">
        </a>
    </div>
</div>
