<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    {{ $style := resources.Get "css/style.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ block "head" . }}
    {{ end }}
    {{ template "_internal/google_analytics.html" . }}
</head>

<body>
    <header>
        {{ partial "header.html" . }}
    </header>
    <main>
        <div class="container">
            {{ block "main" . }}
            {{ end }}
        </div>
    </main>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
</body>

</html>